html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.score h2{
    text-align: center;
}
.score .score-container{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
}

button{
    min-height: 12rem;
    width: 12rem;
    font-size: 1rem;    
}